<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/defaultTemplate}">
<head>
    <title th:text="${title}"></title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<div layout:fragment="content">
    <h1 th:text="${title}"></h1>
    <form action="#" th:action="@{/library/update}" th:object="${productModel}" method="post">
        <div class="form-group">
            <input type="text" th:field="*{bookName}" placeholder="Book Name" class="form-control" th:classappend="${#fields.hasErrors('bookName')} ? 'is-invalid' : ''">
            <span class="error" th:if="${#fields.hasErrors('bookName')}" th:errors="*{bookName}"></span>
        </div>
        <div class="form-group">
            <input type="text" th:field="*{isbn}" placeholder="ISBN" class="form-control" th:classappend="${#fields.hasErrors('isbn')} ? 'is-invalid' : ''">
            <span class="error" th:if="${#fields.hasErrors('isbn')}" th:errors="*{isbn}"></span>
        </div>
        <div class="form-group">
            <input type="text" th:field="*{authorName}" placeholder="Author Name" class="form-control" th:classappend="${#fields.hasErrors('authorName')} ? 'is-invalid' : ''">
            <span class="error" th:if="${#fields.hasErrors('authorName')}" th:errors="*{authorName}"></span>
        </div>
        <div class="form-group">
            <input type="number" th:field="*{stock}" placeholder="Stock" class="form-control" th:classappend="${#fields.hasErrors('stock')} ? 'is-invalid' : ''">
            <span class="error" th:if="${#fields.hasErrors('stock')}" th:errors="*{stock}"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Update" class="btn btn-primary">
            <a href="#" th:href="@{/library}" class="btn btn-secondary">Back to Library</a>
        </div>
        <div th:if="${#fields.hasErrors('*')}" class="error general-error">
            <p>Please correct the errors and resubmit.</p>
        </div>
    </form>
</div>
</body>
</html>
