<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="container">
    <h2>Create a New Book</h2>
    <form th:action="@{/books/create}" th:object="${productModel}" method="post">
        <div class="form-group">
            <label for="bookName">Book Name</label>
            <input type="text" id="bookName" th:field="*{bookName}" class="form-control"/>
            <p th:if="${#fields.hasErrors('bookName')}" th:errors="*{bookName}">Incorrect book name</p>
        </div>
        <div class="form-group">
            <label for="isbn">ISBN</label>
            <input type="text" id="isbn" th:field="*{isbn}" class="form-control"/>
            <p th:if="${#fields.hasErrors('isbn')}" th:errors="*{isbn}">Incorrect ISBN</p>
        </div>
        <div class="form-group">
            <label for="authorName">Author Name</label>
            <input type="text" id="authorName" th:field="*{authorName}" class="form-control"/>
            <p th:if="${#fields.hasErrors('authorName')}" th:errors="*{authorName}">Incorrect author name</p>
        </div>
        <div class="form-group">
            <label for="stock">Stock</label>
            <input type="number" id="stock" th:field="*{stock}" class="form-control"/>
            <p th:if="${#fields.hasErrors('stock')}" th:errors="*{stock}">Incorrect stock</p>
        </div>
        <button type="submit" class="btn">Create Book</button>
    </form>
    <div th:if="${message}">
        <p th:text="${message}" style="color:green;"></p>
    </div>
</div>
</body>
</html>
