<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/defaultTemplate}">
	<body>
		<div layout:fragment="content">
			<h4>Welcome to the home page of our web application!</h4>
			
			<p>This is the main application module accessible from the root URL of the web application</p><br/>
			
			
			<table>
				<th>
					<td>Authors</td>
				</th>
				<tr>
					<td></td>
				</tr>
			</table>
		</div>
	</body>
</html>