<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/defaultTemplate}">
	<body>
		<div layout:fragment="content" class="main-content-home">
			<form class="form-default" action="#" th:action="@{/register/doRegistration}" th:object="${registrationModel}" method="post">
				<div class="form-group">
					<input type="text" th:field="*{firstname}" placeholder="First Name" class="form-control" th:classappend="${#fields.hasErrors('firstname')} ? 'is-invalid' : ''">
					<span class="error" th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}"></span>
				</div>
				<div class="form-group">
					<input type="text" th:field="*{lastname}" placeholder="Last Name" class="form-control" th:classappend="${#fields.hasErrors('lastname')} ? 'is-invalid' : ''">
					<span class="error" th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}"></span>
				</div>
				<div class="form-group">
					<input type="text" th:field="*{email}" placeholder="Email" class="form-control" th:classappend="${#fields.hasErrors('email')} ? 'is-invalid' : ''">
					<span class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
				</div>
				<div class="form-group">
					<input type="text" th:field="*{phone}" placeholder="Phone Number" class="form-control" th:classappend="${#fields.hasErrors('phone')} ? 'is-invalid' : ''">
					<span class="error" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></span>
				</div>
				<div class="form-group">
					<input type="text" th:field="*{username}" placeholder="User Name" class="form-control" th:classappend="${#fields.hasErrors('username')} ? 'is-invalid' : ''">
					<span class="error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
				</div>
				<div class="form-group">
					<input type="password" th:field="*{password}" placeholder="Password" class="form-control" th:classappend="${#fields.hasErrors('password')} ? 'is-invalid' : ''">
					<span class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
				</div>
				<div class="form-group">
					<input type="text" th:field="*{address}" placeholder="Address" class="form-control" th:classappend="${#fields.hasErrors('address')} ? 'is-invalid' : ''">
					<span class="error" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></span>
				</div>
				<div class="form-group">
					<input type="text" th:field="*{city}" placeholder="City" class="form-control" th:classappend="${#fields.hasErrors('city')} ? 'is-invalid' : ''">
					<span class="error" th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></span>
				</div>
				<div class="form-group">
					<input type="text" th:field="*{state}" placeholder="State" class="form-control" th:classappend="${#fields.hasErrors('state')} ? 'is-invalid' : ''">
					<span class="error" th:if="${#fields.hasErrors('state')}" th:errors="*{state}"></span>
				</div>
				<div class="form-group">
					<input type="text" th:field="*{zipcode}" placeholder="Zip Code" class="form-control" th:classappend="${#fields.hasErrors('zipcode')} ? 'is-invalid' : ''">
					<span class="error" th:if="${#fields.hasErrors('zipcode')}" th:errors="*{zipcode}"></span>
				</div>
				<div class="form-group">
					<input type="submit" value="Submit" class="btn btn-primary">
				</div>
				<div th:if="${#fields.hasErrors('*')}" class="error general-error">
					<p>Please correct the errors and resubmit.</p>
				</div>
			</form>

		</div>
	</body>
</html>