<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
	<header th:fragment="header">
		<div class="container">
			<div id="branding">
				<h1><a href="/">CST-339 Milestone Web Application</a></h1>
			</div>
			<nav>
				<ul>
					<li><a th:href="@{/}">Home</a></li>
					<li><a th:href="@{/login}">Login</a></li>
					<li><a th:href="@{/register}">Register</a></li>
          			<li><a th:href="@{/library}">Library</a></li>
					<li th:if="${username}" th:text="${username}"></li>
				</ul>
			</nav>
		</div>
	</header>

	<footer th:fragment="footer">
		<p>&copy; 2024 Grand Canyon University</p>
	</footer>
</body>
</html>