<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
	<header th:fragment="header">
		<div class="container">
			<div id="branding">
				<h1><a th:href="@{/}">Home</a></h1>
			</div>
			<nav class="navbar">
				<ul>
					<li th:if="${username} == null"><a th:href="@{/login}">Login</a></li>
					<li th:if="${username} == null"><a th:href="@{/register}">Register</a></li>
          			<li><a th:href="@{/library}">Library</a></li>
					<li th:if="${username}" th:text="${username}"></li>
				</ul>
				<form th:if="${username}" class="form-inline" th:action="@{/logout}" method="POST">
					<button class="btn btn-sm btn-outline-danger" type="submit">Log Out</button>
				</form>
			</nav>
		</div>
	</header>

	<footer th:fragment="footer">
		<p>&copy; 2024 Grand Canyon University</p>
	</footer>
</body>
</html>